
{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
      integrity="sha384-xeJqLiuOvjUBq3iGOjvSQSIlwrpqjSHXpduPd6rQpuiM3f5/ijby8pCsnbu5S81n"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{%static './assets/bootstrap-5.2.0-dist/css/bootstrap.min.css'%}"
    />
    <link rel="stylesheet" href="{%static './assets/style/index.css'%}" />
    <link rel="stylesheet" href="{%static './assets/style/music.css'%}" />
    <title>Wisteria - Musics</title>
  </head>

  <body>
    <!-- Nav Section -->

    <div class="preloader">
      <div class="spinner"></div>
    </div>
    <nav id="navbar" class="navbar navbar-expand-lg sticky-top">
      <div class="container position-relative py-2 py-sm-2 py-lg-1 d-lg-flex flex-lg-column">
          <h1><a class="f-1" href="{%url 'home'%}" style="color: aliceblue; text-decoration: none;"
                  class="pt-3 hidden">Wisteria</a>
          </h1>
          <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar-items"
              onclick="toggleThemeChanger()">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div id="navbar-items" class="collapse navbar-collapse">
              <ul class="navbar-nav fs-5 flex-wrap justify-content-lg-center align-items-lg-center">
                  <li class="nav-item"><a class="nav-link text-light hidden" href="{%url 'home'%}">Home</a></li>
                  <li class="nav-item"><a class="nav-link text-light hidden" href="{%url 'discover'%}">Discover</a></li>
                  <li class="nav-item"><a class="nav-link text-light text-nowrap hidden"
                          href="{%url 'game'%}">Online
                          games</a></li>
                  <li class="nav-item"><a class="nav-link text-light hidden" href="{%url 'movie'%}">Movies</a>
                  </li>
                  <li class="nav-item"><a class=" nav-link text-light hidden"
                          href="{%url 'business'%}">Business</a></li>
                  <li class="nav-item"><a class="active nav-link text-light hidden" href="{%url 'music'%}">Music</a></li>
               
                  <li class="nav-item"><a class="nav-link text-light text-nowrap hidden"
                          href="{%url 'Todo'%}">To-do-list</a>
                  </li>
                  <li class="nav-item"><a class="nav-link text-light text-nowrap hidden"
                          href="{%url 'community'%}">Community
                          forum</a></li>
                  <li class="nav-item"><a class=" nav-link text-light text-nowrap hidden"
                          href="{%url 'sports'%}">Sport</a></li>
              </ul>
          </div>
          <!--Theme Changer-->
          <div id="theme-changer-container" class="position-absolute dropdown">
              <button id="theme-changer-btn" class="btn fs-3 py-1 px-3 dropdown-toggle bi-palette" type="button"
                  data-bs-toggle="dropdown"> </button>
              <ul class="dropdown-menu px-1">
                  <li><a id="light-theme-btn" class="dropdown-item mb-1 rounded" href="#"
                          onclick="changeTheme('light')">Light</a></li>
                  <li><a id="dark-theme-btn" class="dropdown-item mb-1 rounded" href="#"
                          onclick="changeTheme('dark')">Dark</a>
                  </li>
                  <li><a id="primary-theme-btn" class="dropdown-item mb-1 rounded" href="#"
                          onclick="changeTheme('primary')">Primary</a></li>
                  <li><a id="success-theme-btn" class="dropdown-item mb-1 rounded" href="#"
                          onclick="changeTheme('success')">Success</a></li>
                  <li><a id="danger-theme-btn" class="dropdown-item mb-1 rounded" href="#"
                          onclick="changeTheme('danger')">Danger</a></li>
              </ul>
          </div>
      </div>
      </div>
  </nav>

    <section class="container mb-2">
      <div class="d-flex justify-content-center a-text">
        <h1 class="auto text-center fs-3"></h1>
      </div>
      <div class="b-text">
        <!-- for loop -->
        {%for music in music|slice:'0:10'%}
        <div class="b1-text ">
          <img src="{{music.image.url}}" alt="" />
          <h4 class="artist-song bg-black text-white text" >{{music.title}}</h4>
          <h4 class="artist-name text">{{music.author}}</h4>
          <audio controls preload="metadata">
            <source
              src="{{music.song.url}}"
              type="audio/ogg"
            />
          </audio>

          <a href="{{music.song.url}}">
            <button class="text">Download</button>
          </a>
        </div>
{%endfor%}
       

        <!-- end for loop -->
      </div>

      <!-- footer section -->
      <footer class="container mb-2 d-flex justify-content-center text-center">
        <div id="footer-holder">
          <h3
            id="foot-desc"
            class="fs-2 d-flex justify-content-center align-items-center my-4"
          >
            Would you like to join our Community
          </h3>
          <form action="" class="d-flex">
            <input
              type="text"
              placeholder="Email Address"
              class="form-control"
            />
            <button
              id="emailSubmitBtn"
              class="btn border px-5 py-2 mx-2"
              type="submit"
            >
              Join
            </button>
          </form>
          <p class="foot-desc-text py-3">
            We're proud to offer a self-service platform that makes it easy for our customers to participate and manage great digital experiences.
          </p>
          <hr />
          <ul class="d-flex flex-row fs-1 justify-content-between">
            <li>
              <a href="" class="bi-facebook footer-icon"></a>
            </li>
            <li>
              <a href="" class="bi-twitter footer-icon"></a>
            </li>
            <li>
              <a href="" class="bi-instagram footer-icon"></a>
            </li>
            <li>
              <a href="" class="bi-whatsapp footer-icon"></a>
            </li>
            <li>
              <a href="" class="bi-github footer-icon"></a>
            </li>
          </ul>
          <p class="foot-desc-text text-center">&copy; Hope we made your day</p>
        </div>
      </footer>
    </section>
    <!-- js duplex -->

    <script>
      $(window).on('load', function() {
        // Hide the preloader once the page has finished loading
        $('.preloader').fadeOut('slow');
      });
    </script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js"
      integrity="sha512-3J8teBiHrSyaaRBajZyIEtpDsXdPq1gsznKWIVb5CnorQuFhjWGhWe54z8YNnHHr7MZuExb9m5kvf964HiT1Sw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script>
      var typed = new Typed(".auto", {
        strings: [
          " Here are some of the musics you should listen to and download",
        ],
        typeSpeed: 50,
        backSpeed: 50,
      });
    </script>
    <script src="{%static './assets/bootstrap-5.2.0-dist/js/bootstrap.bundle.min.js'%}"></script>
    <!-- <script src="./../assets/js/music-theme-changer.js"></script> -->
    <script src="{%static './assets/js/index.js'%}"></script>
    <script src="{%static './assets/js/music-theme-changer.js'%}"></script>
  </body>
</html>
