
{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{%static './assets/bootstrap-5.2.0-dist/css/bootstrap.min.css'%}"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
      integrity="sha384-xeJqLiuOvjUBq3iGOjvSQSIlwrpqjSHXpduPd6rQpuiM3f5/ijby8pCsnbu5S81n"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{%static './assets/style/online-movies.css'%}" />
    <link rel="stylesheet" href="{%static './assets/style/index.css'%}" />
    <title>Wisteria - Online Movies</title>
  </head>
  <body>
    <!--Nav Section-->
    <nav id="navbar" class="navbar navbar-expand-lg sticky-top">
      <div class="container position-relative py-2 py-sm-2 py-lg-1 d-lg-flex flex-lg-column">
          <h1><a class="f-1" href="{%url 'home'%}" style="color: aliceblue; text-decoration: none;"
                  class="pt-3 hidden">Wisteria</a>
          </h1>
          <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar-items"
              onclick="toggleThemeChanger()">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div id="navbar-items" class="collapse navbar-collapse">
              <ul class="navbar-nav fs-5 flex-wrap justify-content-lg-center align-items-lg-center">
                  <li class="nav-item"><a class="nav-link text-light hidden" href="{%url 'home'%}">Home</a></li>
                  <li class="nav-item"><a class="nav-link text-light hidden" href="{%url 'discover'%}">Discover</a></li>
                  <li class="nav-item"><a class=" nav-link text-light text-nowrap hidden"
                          href="{%url 'game'%}">Online
                          games</a></li>
                  <li class="nav-item"><a class="active nav-link text-light hidden" href="{%url 'movie'%}">Movies</a>
                  </li>
                  <li class="nav-item"><a class=" nav-link text-light hidden"
                          href="{%url 'business'%}">Business</a></li>
                  <li class="nav-item"><a class="nav-link text-light hidden" href="{%url 'music'%}">Music</a></li>
                  <li class="nav-item"><a class="nav-link text-light hidden" href="./wallpapers.html">Wallpapers</a>
                  </li>
                  <li class="nav-item"><a class="nav-link text-light text-nowrap hidden"
                          href="{%url 'Todo'%}">To-do-list</a>
                  </li>
                  <li class="nav-item"><a class="nav-link text-light text-nowrap hidden"
                          href="{%url 'community'%}">Community
                          forum</a></li>
                  <li class="nav-item"><a class=" nav-link text-light text-nowrap hidden"
                          href="{%url 'sports'%}">Sport</a></li>
              </ul>
          </div>
          <!--Theme Changer-->
          <div id="theme-changer-container" class="position-absolute dropdown">
              <button id="theme-changer-btn" class="btn fs-3 py-1 px-3 dropdown-toggle bi-palette" type="button"
                  data-bs-toggle="dropdown"> </button>
              <ul class="dropdown-menu px-1">
                  <li><a id="light-theme-btn" class="dropdown-item mb-1 rounded" href="#"
                          onclick="changeTheme('light')">Light</a></li>
                  <li><a id="dark-theme-btn" class="dropdown-item mb-1 rounded" href="#"
                          onclick="changeTheme('dark')">Dark</a>
                  </li>
                  <li><a id="primary-theme-btn" class="dropdown-item mb-1 rounded" href="#"
                          onclick="changeTheme('primary')">Primary</a></li>
                  <li><a id="success-theme-btn" class="dropdown-item mb-1 rounded" href="#"
                          onclick="changeTheme('success')">Success</a></li>
                  <li><a id="danger-theme-btn" class="dropdown-item mb-1 rounded" href="#"
                          onclick="changeTheme('danger')">Danger</a></li>
              </ul>
          </div>
      </div>
      </div>
  </nav>

    <!--Movie Section-->
    <div class="container-fluid mt-2">
      <div class="row overflow-hidden">
        <div
          class="col-12 col-lg-8 position-relative"
          id="new_release_container"
        >
        <!--  -->


{%for movie in movie|slice:'0:1'%}
          <div class="border h-100">
            
            <img src="{{movie.image.url}}" id="new_release_image" />
          </div>
          <!-- link -->
          <a href="{%url 'stream' movie.id%}">
          <i
            class="position-absolute bi-play-circle play-video-icon"
            style="font-size: 100px"
          ></i>
          </a>
          <!-- link -->
          <div class="position-absolute movie-desc">
      {{movie.body}}
          </div>
        </div>
        {%endfor%}
        <!--  -->



       

      <div class="col-12 col-lg-4 d-none d-md-block">


        <div
          class="d-flex flex-column border px-md-2 h-100 justify-content-center mx-1"
        >
          <span
            class="d-block text-center py-2 my-2 border-bottom-2 fw-bold fs-5 text-light bg-dark"
            >Discover</span
          >
          <div class="row overflow-hidden gx-md-2 gy-2 mb-2">

            <!--  -->
            <div class="col-12 col-sm-6 position-relative">

              <div class="movie-short border">
                <a href="{%url 'discover'%}">
                <img src="https://burst.shopifycdn.com/photos/colorful-work-space.jpg?width=746&format=pjpg&exif=1&iptc=1" class="short-img" />
                </a>
            
              </div>
              
            </div>


            <div class="col-12 col-sm-6 position-relative">

              <div class="movie-short border">
                <a href="{%url 'discover'%}">
                <img src="https://burst.shopifycdn.com/photos/colorful-work-space.jpg?width=746&format=pjpg&exif=1&iptc=1" class="short-img" />
                </a>
            
              </div>
              
            </div>

            <div class="col-12 col-sm-6 position-relative">

              <div class="movie-short border">
                <a href="{%url 'discover'%}">
                <img src="https://burst.shopifycdn.com/photos/colorful-work-space.jpg?width=746&format=pjpg&exif=1&iptc=1" class="short-img" />
                </a>
            
              </div>
              
            </div>

            <div class="col-12 col-sm-6 position-relative">

              <div class="movie-short border">
                <a href="{%url 'discover'%}">
                <img src="https://burst.shopifycdn.com/photos/colorful-work-space.jpg?width=746&format=pjpg&exif=1&iptc=1" class="short-img" />
                </a>
            
              </div>
              
            </div>

            
            <!--  -->

          </div>
        </div>
      </div>
    </div>



      <!-- Other Movies Section -->
      <div class="row overflow-hidden my-2 gy-2 gx-md-2 mx-1 mx-sm-2">

<!--  -->
{%for movie in movie|slice:'0:24'%}
        <div class="col-12 col-md-6 col-lg-4">

          <div
            class="border border-2 border-dark d-flex flex-column justify-content-center p-2 rounded"
          >
            <div
              class="image-container position-relative rounded overflow-hidden"
            >

              <img src="{{movie.image.url}}" class="short-img" />
              <a href="{%url 'stream' movie.id%}">
              <i class="position-absolute bi-play-circle play-video-icon"></i>
              </a>
            </div>
            <span class="d-block text-center py-2 fw-bold fs-5 text-nowrap">{{movie.title}}</span>
            <p class="text-wrap overflow-hidden">
              {{movie.body}}
            </p>
            <a href="{%url 'stream' movie.id%}">
              <button type="button" class="btn border border-2 btn-outline-secondary ">Watch now</button>
            </a>
          </div>
        </div>
        {%endfor%}
    

       

<!-- end -->
      </div>
    </div>

    <!--Footer Section-->
    <footer class="container mb-2 d-flex justify-content-center">
      <div id="footer-holder">
        <h3
          id="foot-desc"
          class="fs-2 d-flex justify-content-center align-items-center my-4 text-center"
        >
          Would you like to join our Community
        </h3>
        <form action="" class="d-flex">
          <input type="text" placeholder="Email Address" class="form-control" />
          <button
            id="emailSubmitBtn"
            class="btn border px-5 py-2 mx-2"
            type="submit"
          >
            Join
          </button>
        </form>
        <p class="foot-desc-text py-3">
          We're proud to offer a self-service platform that makes it easy for our customers to participate and manage great digital experiences.?
        </p>
        <hr />
        <ul class="d-flex flex-row fs-1 justify-content-between">
          <li>
            <a href="" class="bi-facebook footer-icon"></a>
          </li>
          <li>
            <a href="" class="bi-twitter footer-icon"></a>
          </li>
          <li>
            <a href="" class="bi-instagram footer-icon"></a>
          </li>
          <li>
            <a href="" class="bi-whatsapp footer-icon"></a>
          </li>
          <li>
            <a href="" class="bi-github footer-icon"></a>
          </li>
        </ul>

        <p class="foot-desc-text text-center">&copy; Hope we made your day</p>
      </div>
    </footer>

    <script src="{%static './assets/bootstrap-5.2.0-dist/js/bootstrap.bundle.min.js'%}"></script>
    <script src="{%static './assets/js/online-movies.js'%}"></script>
    <script src="{%static './assets/js/index.js'%}"></script>
  </body>
</html>
