

{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wisteria</title>
    <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet"
  />
  <!-- get style from style.css -->
  <link rel="stylesheet" href="{%static './assets/style/signup.css'%}">
  <!--  -->
</head>
<body style="background-color: aliceblue;">
    <section>
        <!-- navigation section -->




        <div class="" lazy="load" >
          <nav id="special">
            <h1><a href="index.html" style="color: #8c5ef3; " id="w">Wisteria</a></h1>
            <button><a href="{%url 'login'%}" style="color: aliceblue;">  Sign in</a></button>
            
          </nav>




        </div>



        <!--  -->


        <!-- sign up  -->




        <div class="over2">
        
        <div class="y2-text">
            <h1>Sign up now to make your day great <br> <span style="color: rgb(0, 0, 190);">FOR FREE</span></h1>
            <img src="{%static './assets/images/laura-chouette-cbrnASza8ZQ-unsplash-removebg-preview.png'%}" alt="">
        </div>
        <div class="y-text">
            <form action="" method="POST">
              {% csrf_token %}
                <h1>Sign up</h1>
                {% if form.errors %}
          {{form.errors}}
          {% endif %}
                <label for="">Username</label>
             {{form.username}}
                <label for="">Password</label>
               {{form.password1}}
                <label for="">Confirm password</label>
               {{form.password2}}
                <a href="">
                <button type="submit"> Sign up</button>
                </a>
            </form>
            <div class="x-text">
            <p>Already have an account? <a href="{%url 'login'%}" style="color: #8c5ef3;">Sign in</a></p>
            </div>
        </div>
        </div>

<!--  -->
       
    </section>
</body>
</html>

<!-- get css style from style.css -->