.wallpaperImg{
    object-fit: cover;
    width: 100%;
    height: 250px;
}

.content {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    bottom: 0;
}
#hidden{
    display: none;
}

.row{
    overflow-x: hidden;
    overflow-y: visible;
    margin-bottom: 55px;
}

@media (min-width: 768px) {
    .col-6:nth-child(odd){
        transform: translateY(-55px);
    }
}
 
@media (max-width: 767px) {
    .col-6:nth-child(even){
        transform: translateY(55px);
    }
    
}
